@import url('https://fonts.googleapis.com/css?family=Lato');
/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); */

html, body{
  height:100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color:#222;
}

.container {
  padding:0px;
}

.highlight{
  color:blue !important;
}
.backg{
  /* background-image: url("{% static '/Schedule/img/football.png' %}"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:70%;
  width:100%;
}

.dropdown{
	margin-left:-15px;
}

.btn-secondary{
  background-color: white!important;
  color:#666666!important;
  border-radius: 100px;
  margin-top:2%;
  margin-right:2%;
  padding-left:3%;
  padding-right:3%;
}

.filters .row{
    margin:0px;
}
.btn-primary{
  background-color: white;
  border-radius: 55%;
  color:#666666;
  margin-top:4%;
  margin-right:1%;
  margin-bottom: 3%;
}

.heading{
  height:2.5em;
  width:100%;
  background-color: #00A7CC;
  padding-top: 13px;
  color:white;
  font-size: 24px;
  margin-top:2%;
}
.col-lg-3{
  margin-left:-15px;
  line-height:25px;
}
.col-lg-3 span{
  margin-top:60px;
  font-weight: bold;
}

.circle{
  height: 100px;
    width: 100px;
    background-color: #FAFAFA;
    border-radius: 50%;
}
.circle img{
  height: 100px;
    width: 100px;
    z-index: 1;
    padding: 9px;
    border-radius: 50%;
}
.rectangle{
     float: left;
    height: 60px;
    background-color: #FAFAFA;
    margin-top: -77px;
    color:#666666;
    padding-left:100px !important;
    vertical-align: center;
    padding-top:17px;
    font-size:15px !important;
    width:100%!important;
}
.vs{
  margin-right: 3vw;
  text-align: center;
    vertical-align: center;
    margin-top: 35px;
    margin-left: 20px;
}
.extraleft{
  margin-left: 5px;
}

.col-lg-1 button{
  margin-left:10px;
  width:80px;
  font-size:14px;
  height: 40px!important;
  border-radius: 20px !important;
  margin-top: 30px;
  background-color:#FAFAFA !important;
  border:white;
}

.lineups{
  /* background-color: black!important; */
  border-radius: 20px;
  margin-left: 4.4vw!important;
}

/* .social a{
  font-size: 2.5em;
  padding: 2rem;
}
.social h3{
  padding-left:7rem;
  color:white;
  padding-top:3rem;
} */


.caption{
  color:#00A7CC;
}



.dropdown-menu{
  border: none;
  box-shadow:0px 0px 30px rgba(0, 167,204, 0.2);
  margin-top: 10px;
  max-height: 200px;
  overflow-y: scroll;
  offset: 30px;
  border-radius: 10px;

}


.col-left{
  padding-left:5%;
}
/* .sportlogo{
  background-color:white;
  height:55%;
  width:50%;
  padding-left:10%;
  padding-top: 5%;
  border-radius:5%;
  margin-top: 20%;
  vertical-align: center;
}
.logoo{
      padding-left: 10%;
      padding-top: 5%;
}
.sportlogo input[type="button"]{
  border:none;
  outline:none;
  font-size:20px;
}
.game{
   border:none;
  outline:none;
  font-size:20px;
  border-radius: 0px;
  margin-left:-8px;
  width:50%;
} */

.eventDate{
  font-size:24px;
  height: 2.5em;
  line-height: 2.5em;
  color : white;
  padding-left: 1.2vw;
  margin-top: 2%;
  vertical-align: middle;
  /*background-color: */


  background-color: #00a7cc;
  /*border: 1px solid #707070;*/
}

.eventDetails hr{
  width:100%;
}

.event{
  padding-top:1.5%;
  color:rgb(102,102,102);
  font-size: 21px;


  font-weight: normal;
}

.eventName{
  font-weight: bold;
  font-size: 24px;
  margin-left: -15px;
}

.event span{
  font-weight: normal;
  line-height: 2;
}
.eventName span{
  font-weight: bold;

}
a:hover
{
  color:rgb(102,102,102);
  text-decoration: none;ATHLETICS


}

a{
  color:rgb(102,102,102);ATHLETICS


}

.playerLink .glyphicon-menu-down{
  display: inline;
  margin-left: 5%;
}

.playerLink{
  padding-left: 8vw;
}

.playerList{
  padding: 1% 3%
}

h1,h2,h3,h4,h5,h6{
  text-transform: none;
e
}

.nav-pills .nav-link{
  font-size: 1.2rem;
}

 .nav-date{
  margin: 0px;
  padding-left: 0px!important;
  padding-bottom: 0px!important;
  padding-top: 1%!important;
  padding-right: 2%!important;
}
/*
.event-details .row{
  margin: 0px!important;
} */

/* .nav-link:hover{
  color:white!important;
}

.nav-link{
  color:white!important;
} */

.tab-content .row{
      margin:0px;
}

.nav-link.active{
  color:white!important;
}



.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 9px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00a7cc; }




/*media queries*/

@media screen and (max-width:1200px){
.rectangle{
  margin-right:-30px;
}

.col-lg-1 button{
  margin-left:15px;
}
.navbar-brand img{
  margin-left:30%;
}
.collapse{
  margin-left:10%;
}


/* .sportlogo{
  height:60%;
  width:60%;
  padding-left:5%;
  padding-top: 5%;
  margin-top: 20%;
} */

}

@media screen and (max-width: 992px){

.circle{
    margin-top:20px;
    margin-left:-10px;
}
.circle img{100
    height: 100px;
    width: 100px;
    z-index: 1;
    padding: 9px;
    border-radius: 50%;
}
.rectangle{
  margin-right:40px;
}
.extraleft{
  float:right;
  margin-left: -15px;
}
.col-lg-1 button{
  margin-left: -20px;
  margin-top: 30px;
}
.vs{
    margin-top: 60px;
    margin-left: 10px;
}
/* .sportlogo{
  height:60%;
  width:70%;
  padding-left:0%;
  padding-top: 5%;
  margin-top: 10%;
} */


}
@media screen and (max-width: 768px){
.rectangle{
  margin-right:-30px;
}

.collapse {
    margin-left: 0px;
}

}
@media (min-width: 1200px){
.container {
    max-width: none!important;
}
}

.score{
  max-width: 75%!important;
}

.score .container{
  margin-left: 0px!important;
  margin-right:0px!important;
}

/* .sportlogo{
   width:100%;
   height:50%;
   margin-bottom:10px;
 } */

@media screen and (max-width: 769px){

  .rectangle{
    margin-right:3vw;
  }
  .vs{
    margin-right: 0vw;
  }
  .middle{
    text-align:center;
  }
  .lineups{
    width:100%!important;
    text-align:center;
    margin-left:-15px!important;
  }
  .nav-pills .nav-link{
    font-size: 1.5rem;
    /* padding-top: 1.6vh!important; */
  }

  .nav-pills .nav-link {
      height: 10vh;
      width: 10vh;
  }
  .btn-secondary{
    display: block!important;
    width: 100%!important;
  }

  .dropdown-menu{
    width: 100%;
  }

  .score{
    max-width: 96%!important;
  }
}
/* @media screen and (max-width:985px){
  .circle{
    margin-left:25vw;
  }
  .rectangle{
    margin-right:25vw;
  }

} */

@media screen and (max-width: 572px){
    .rectangle{
      width:480px;
      padding-left:320px;
    }

    .navbar-brand img{
      margin-left:10%;
    }
     /* .sportlogo{
      height:70%;
      width:30%;
      padding-left:5%;
      padding-top: 2%;
      margin-top: 10%;
      margin-bottom: 20px;
    }
    .sportlogo img{
      height:50px;
      width:60px;
      padding-left:20px;
    }
    .game{
      padding-left: 20px;
      border:green;
      font-size:10px;
    } */
    /* .sportlogo{
  height:70%;
  width:30%;
  padding-left:0%;
  padding-top: 5%;
  margin-top: 10%;picture
  margin-left:60px;
  border-radius: 10px;
}
.game{
  margin-left:7px;
  font-size:10px;
} */

.container{
  padding: 3%;

}
picture
.eventName,.playerLink{
  padding-left: 0px;
}

.collapse {
    margin-left: 0px;
}

.nav-date a{
  padding-top: .7vh!important;
  padding-left: 1.4vh!important;
}

.nav-pills .nav-link{
  font-size: 1.2rem;
}

.nav-pills .nav-link {
    height: 10vh;
    width: 10vh;
}

.tab-content .container{
  padding:1%;
}

.btn-secondary{
  display: block;
  width: 100%;
}

ul.nav-pills {
    margin-left: 2%!important;
}
.score{
  max-width: 100%!important;
}

}




.nav-date a{
  padding: 0px!important;
}


.dateset{
  line-height: 15px;
  height: 60px!important;
  width: 60px!important;
  padding: 0px!important;
}

.nav-pills .nav-link{
  font-size: 15px!important;
}


@media screen and (min-width:1200px){
  .dateset{
    line-height: 3vh;
    height: 12vh!important;
    width: 12vh!important;
    padding: 0px!important;
  }

  .nav-pills .nav-link{
    font-size: 20px!important;
  }

}


.comment-division{
        /* Firefox */
    -moz-transition: all 0.4s linear !important;
    /* WebKit */
    -webkit-transition: all 0.4s linear !important;
    /* Opera */
    -o-transition: all 0.4s linear !important;
    /* Standard */
    transition: all 0.4s linear !important;
    margin: 10px 10px;
    padding-bottom: 10px;
    padding-left:6px;
    padding-right:6px;
    border-bottom: 1px solid lightgrey;
}

.normal-text{
  font-weight: normal !important
}