{% extends 'Schedule/base.html' %}
{% load static %}

{% load custom_tags %}
{% block title %}
<link href="https://fonts.googleapis.com/css?family=Metamorphous|Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Handlee|Merienda|Metamorphous|Montserrat|Poiret+One|Tangerine" rel="stylesheet">
<link rel="stylesheet" href="{% static '/Schedule/css/info/about.css' %}">
<link rel="stylesheet" href="{% static '/Schedule/css/info/common.css' %}">

<!--<link rel="stylesheet" href="responsive.css" media = "screen and (max-width:950px)">-->
<meta charset="utf-8">
{% endblock %}

{% block content %}

<br><br>
<span class = "heading "><span class = "inner mobile_heading"><b>IIT Guwahati</b></span></span>

</div>
<br><br>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-12">

        <img class = "image" src ="{% static 'Schedule/img/info/11545911195_ba83153055_b.jpg' %}"  >
      </div>

      <div class="para col-md-6 col-sm-12 text mobile_text text-justify">
        <br>
        <p>Indian Institute of Technology Guwahati, the sixth member of the IIT fraternity, was established in 1994. The campus is on a sprawling 700 acres plot of land on the north bank of the river Brahmaputra around 20 kms from the heart of the city.. </p>
        <p>
          IIT Guwahati currently has 11 departments with 4500 students accommodated in 11 hostels. The Institute offers B. Tech., B. Des., M. Des., M. Tech., M.A (Development Studies), M.Sc. and Ph.D. programs.<br>
        </p>
        IIT Guwahati has numerous sports facilities thanks to the Student Activity Center(SAC) maintained by the students' Gymkhana. This includes the athletics ground, football ground, hockey ground, cricket ground, lawn tennis courts, badminton courts, squash courts, basketball courts and a gym.<br>

        <p>
        </p>
      </div>
    </div>

    <br>
    <div class="text mobile_text">
      There is a lot to explore in our campus, feel free to visit the viewpoint (highest point of our campus), chill on the benches near the lakes or just take long walks along the lush green roads. Suit yourself to the delicacies served in our food court or maybe roam around in the new SAC to relax.

      <br><br>

      <div class="text-center text mobile_text">
        You can look forward to enjoying beautiful sunsets and sunrise!
        <br><br>
        You can look forward to a pleasant stay at IIT Guwahati!
      </div>
      <br><hr><br>
    </div>

  </div>




<!--<a href =  "#"><input type="button" class="button" value="Input Button"></a>-->
{% endblock %}
