
{% extends 'Schedule/base.html' %}
{% load static %}

{% load custom_tags %}
{% block title %}
<link href="https://fonts.googleapis.com/css?family=Metamorphous|Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Handlee|Merienda|Metamorphous|Montserrat|Poiret+One|Tangerine" rel="stylesheet">
<link rel="stylesheet" href="{% static '/Schedule/css/info/style4.css' %}">
<!--<link rel="stylesheet" href="responsive.css" media = "screen and (max-width:950px)">-->
<link rel="stylesheet" href="{% static '/Schedule/css/info/common.css' %}">

<meta charset="utf-8">
{% endblock %}

{% block content %}
<br><br>
<span class = "heading "><span class = "inner mobile_heading"><b>Inter IIT</b></span></span>
<div class="container">

<br>
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <img class = "image" src ="{% static 'Schedule/img/info/Cricket2.jpg' %}" >
      <br><br>
    </div>
    <div class="col-md-6 col-sm-12">

      <div class="para2 text mobile_text text-justify">
        The Inter IIT Sports Meet was initiated in 1961 at IIT Bombay with only five existing IITs participating (namely IIT Bombay, IIT Madras, IIT Kharagpur, IIT Kanpur and IIT Delhi) in the first meet. Only five sports were played during the first meet, since then the meet has continuously expanded in terms of participation and the number of sports being conducted. The number of sports have been increased to 13 while the number of participating IITs have grown to be 23.<br />
          <!--<a href =  "#"><input type="button" class="button" value="Input Button"></a>-->
    </div>

  </div>
</div>
    <br>

    <div class="row ">
      <div class="col-md-6 col-sm-12 ">
        <span class="text1 mobile_text text-justify">
        <b>The vision for the Meet is as follows-</b><br>
        <br>
        1. The objective of Inter IIT Sports Meet is to organize sports competitions in some selected Olympics recognized events, to encourage sportsmanship, to promote and create a better harmony, understanding and friendly interaction among the students of the IITs as well as to foster a close association among them.
        <br>
        2. To make the students aware of the importance of sports and games in day to day life.
        <br>
        3. To help students to move skillfully and effectively not only in sports, games and exercises but also in all active life situations.
        </span>

      </div>
      <div class="col-md-6 col-sm-12 ">

        <img class = "image" src ="{% static 'Schedule/img/info/1.jpg' %}" ><br>


    </div>
  </div>
<br>
  <div class="row">

    <div class="col-md-6 col-sm-12">

      <img class = "image" src ="{% static 'Schedule/img/info/5.jpg' %}" ><br>
      <br>
  </div>
  <div class="col-md-6 col-sm-12">
    <span class="text1 mobile_text text-justify">

    4. To raise the standard of sports in IITs and to work for the development of character and values through sports among the students of the IITs.
    <br>
    5. To discuss matters related to the organization of the sports and other such activities as may be supportive to the aims and objectives of the Inter IIT Sports Meet, as mentioned above.
    <br>
    6. The Sports Meet shall be conducted in accordance with the provisions, which are formulated from time to time.
    </span>
    <br>
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-sm-12 ">
    <span class="text1 mobile_text text-justify"><br>
    Following the 53 year old tradition, the latest edition of the Sports Meet will be hosted by IIT Guwahati. All IITs will be participating in a league style competition across various sports in hopes of claiming the General Championship trophy. With over 3500 participants, more than 50 events and 500+ matches, this edition is going to be one of the biggest throughout the history of the Inter IIT Sports Meet. This will also be the first time when the talent of the differently abled individuals will be acknowledged with the inclusion of para-powerlifting among other competitive sports.
    <br>
    We carry forth the legacy bestowed upon us by our predecessors, firmly believing in the spirit of sportsmanship, fair play and enjoying the game above everything else.  We urge all the participants not to indulge in any of the illicit activities and to maintain the purity of the sports.
    <br>
    May the most deserving win!<br>
    <b>
      Our best wishes are with all of you!
    </b>
    <br><br>

      </span>
</div>
<div class="col-md-6 col-sm-12 ">
  <img class = "image" src ="{% static 'Schedule/img/info/21.jpg' %}" >

  <br><br>
</div>
</div>




</div>
<br><br>
{% endblock %}
