{% extends 'Schedule/base.html' %}
{% load static %}

{% load custom_tags %}
{% block title %}
<link href="https://fonts.googleapis.com/css?family=Metamorphous|Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Handlee|Merienda|Metamorphous|Montserrat|Poiret+One|Tangerine" rel="stylesheet">
<link rel="stylesheet" href="{% static 'Schedule/css/info/style3.css' %}">
<!--<link rel="stylesheet" href="responsive.css" media = "screen and (max-width:950px)">-->
<link rel="stylesheet" href="{% static 'Schedule/css/info/common.css' %}">

<meta charset="utf-8">
{% endblock %}

{% block content %}

<br><br>
<span class = "heading "><span class = "inner mobile_heading"><b>Tourist Attraction</b></span></span>
<br>
<br>
    <div class="para2">

            <img class = "image" src ="{% static 'Schedule/img/info/guwahati.jpg' %}" >



    </div>

<br>
<br>
    <div class="content">
       <span class = "text mobile_text" align = "top">Guwahati is situated in the foothills of the Shillong Plateau and blessed by the everflowing mighty Brahmaputra. The earliest mention of this ancient city can be found in the puranas and other religious scriptures. Owing to the time that this city has been around, it has its own rich share of history, culture and cuisine. <br><br>

The city of Guwahati boasts of the ancient Shakti temple of Goddess Kamakhya, the ancient astrological temple Navagraha, and archaeological remains in Basistha. This region is also home to diverse wildlife including rare and at risk animals like asian elephants, pythons, tigers, rhinoceros, Indian Bison, primate species and endangered birds.<br><br>

Currently Guwahati is the largest urban area of the north-east and one of the fastest growing cities of India. It is also a major educational and sports hub of the Northeast India. Which has groomed the likes of Hima Das, Shiva Thapa and Jayanta Talukdar.  <br><br>

<br />

<!--<a href =  "#"><input type="button" class="button" value="Input Button"></a>--></span>
<span class = "heading"><span class = "inner mobile_heading"><b>Trivia Assam</b></span></span>
<div class="head">
  </div>
    </div>
<div class = "gallery">
    <div class="row">
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/wsoffice_subhasish bohra course.png' %}" width="100%" height="220vw">


        <div class = "parai mobile_text">
      <p>The world’s largest riverine island, Majuli on the Brahmaputra, is located in Assam..The world’s largest riverine island, Majuli on the Brahmaputra, is located in Assam..</p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/maxresdefault.jpg' %}"  width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>Assam is one of the six states with their own official state anthem ‘O Mur Apunar Dex’  by Lakshminath Bezbaroa
</p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/Umananda-guwahati-attraction.jpg' %}" width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>Umananda Island is the smallest river island in the midst of river Brahmaputra flowing through the city of Guwahati in Assam, a state in northeast India. The British named the island Peacock Island for its structure.
</p>
    </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/brahmaputra-river.jpg' %}" width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>Tourists find it hard to believe that the 3+ km. width of Brahmaputra is one of its narrowest section. Its widest section is over 10 km in width. </p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/Gargaon Palace 2.jpg' %}" width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p> The Ahom dynasty, which ruled primarily over Assam for 600 years, was India’s longest unbroken dynasty.
.</p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/rhino.jpg' %}"  width="100%" height="220vw">
      <div class = "parai mobile_text parax">
      <p>Although the Kaziranga National Park has the highest number of the great Indian One-Horned Rhinos, the Pobitora Wildlife Sanctuary has the highest density meaning you are more likely to spot the majestic beast here.
</p>
    </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/battle.jpg' %}" width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>The Mughals invaded Assam seventeen times, and they were defeated by the handful of Ahoms in Battle of Itakhuli and Battle of Saraighat.
</p>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/darjeeling-tea.jpg' %}"  width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>Guwahati has the largest tea auction market in India. The tea here once reached a record breaking price of ₹39,001/kg.
</p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content2">
      <img src="{% static 'Schedule/img/info/1200px-Kamakhya_Guwahati.JPG' %}"  width="100%" height="220vw">
      <div class = "parai mobile_text">
      <p>Many ancient Hindu temples are situated in Guwahati, giving it the name "City of Temples".

</p>
    </div>
    </div>
  </div>

</div>
</div>
{% endblock %}
