{% extends 'Schedule/base.html' %}
{% load static %}

{% load custom_tags %}
{% block title %}
<link href="https://fonts.googleapis.com/css?family=Metamorphous|Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Handlee|Merienda|Metamorphous|Montserrat|Poiret+One|Tangerine" rel="stylesheet">
<link rel="stylesheet" href="{% static '/Schedule/css/info/style5.css' %}">
<!--<link rel="stylesheet" href="responsive.css" media = "screen and (max-width:950px)">-->
<link rel="stylesheet" href="{% static 'Schedule/css/info/common.css' %}">

<meta charset="utf-8">
{% endblock %}

{% block content %}
<br>
<div class="content">
<span class = "heading"><span class = "inner  mobile_heading"><b>Getting There</b></span></span>

<div class="mobile_text">
<br>
<div class="question">How to reach Guwahati?</div>
    <div class="answer"><p>Guwahati is the gateway for North East India. It is well connected by air, rail and road with the rest of the country. Trains from all parts of the country are available to reach Guwahati (visit the Indian Railways Official website for more details). There are direct flights from Delhi, Kolkata and Mumbai. There are direct or connecting flights from Jaipur, Chennai, Hyderabad, Bengaluru to Guwahati via Kolkata / Delhi. Air India, Jet Airways, IndiGo, SpiceJet and GoAir operate regular flights to and from Guwahati.</p></div>


<div class="question">How to reach the Institute from Guwahati Railway Station?</div>
    <div class="answer"><p>The institute is located at a distance of 18 kilometres from the Guwahati Railway Station (GHY). The institute provides a bus service with buses plying from the institute to the city and back at regular intervals. The timetable of bus schedule may be found below. Prepaid taxis and cabs can also be availed of directly from Guwahati Railway station to reach the institute.<br></p></div>

<div class="question">How to reach the Institute from Kamakhaya Railway Station?</div>
    <div class="answer"><p>The institute is located at a distance of 13 kilometres from the Kamakhya Railway Station (KYQ). You can catch the institute bus at Maligaon bus stop after 20 mins of their scheduled departure timing from Guwahati Railway station. Prepaid taxis and cabs can also be availed of directly from Kamakhaya Railway station to reach the institute.<br>
<br>
<iframe class='embed-responsive' src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d57286.972612442434!2d91.64755887582773!3d26.182498512388307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x375a5b3c12f2dffd%3A0xa250637ded1fa00e!2sKamakhya%2C+Pandu%2C+Guwahati%2C+Assam!3m2!1d26.157294999999998!2d91.69204529999999!4m5!1s0x375a5ac1e7cc93d5%3A0xbf481e3cfc490e1!2sIndian+Institute+of+Technology+Guwahati%2C+Guwahati%2C+Assam!3m2!1d26.190252299999997!2d91.6920239!5e0!3m2!1sen!2sin!4v1499596132075" frameborder="0" style="border:0" allowfullscreen></iframe>
</p></div>
<br>
<div class="question">How to reach the Institute from Guwahati Airport?</div>
    <div class="answer"><p>The institute is located at a distance of 18 kilometres from the Guwahati Airport. Institute does not provide any bus service for Airport. Prepaid taxis and cabs can be availed of directly from Guwahati Airport to reach the institute.<br><br>

<table class="demo" style="width:100%;margin:auto;margin-top:20px;margin-bottom: 50px;padding-bottom: 0px;">
          <thead>
            <tr>
              <th><center>Cab Name</center></th>
              <th><center>Contact No.</center></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Geo Cabs Northeast</td>
              <td>+91 361 222 2727 , +91 9957574026</td>
            </tr>
            <tr>
              <td>My Taxi</td>
              <td>+91 361 222 8888 , +91 8011014013</td>
            </tr>
            <tr>
              <td>Prime Cabz</td>
              <td>+91 361 222 2233</td>
            </tr>
            <tr>
              <td>Kamakshi Tours</td>
              <td>+91 361 245 7866 , +91 9864047996</td>
            </tr>
            <tr>
              <td>Cherry Cabs</td>
              <td>+91 8876222288 , +91 9864124697</td>
            </tr>
            <tr>
              <td>Green Cabs</td>
              <td>+91 361 7151515</td>
            </tr>
          </tbody>
      </table>

      <iframe class='embed-responsive' src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d114602.65718007131!2d91.56924354057445!3d26.153281162155082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x375a4142182c00c1%3A0x69ba1fb4e82844d8!2sGuwahati+Airport%2C+Guwahati%2C+Assam!3m2!1d26.106472699999998!2d91.58604679999999!4m5!1s0x375a5ac1e7cc93d5%3A0xbf481e3cfc490e1!2sIndian+Institute+of+Technology+Guwahati%2C+Guwahati%2C+Assam!3m2!1d26.190252299999997!2d91.6920239!5e0!3m2!1sen!2sin!4v1499596245641" frameborder="0" style="border:0" allowfullscreen></iframe>
</p> </div>
</div>

</div>
<br><br>
{% endblock %}
