{% extends 'Schedule/base.html' %}
{% load staticfiles %}

{% load custom_tags %}

{% block title %}
  <link rel="stylesheet" type="text/css" href="{% static 'Schedule/css/stylesfootball.css' %}">
{% endblock %}

{% block content %}
<!--Sports specific image -->


<div class="backg" style="background-image: url('{% static '/Schedule/img/football.jpg' %}')">
	 <div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<br><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-12 col-md-3 col-xm-12"></div>
			<div class="col-lg-3 col-sm-6 col-md-3 col-xm-12">
				<div class="sportlogo">
					<img src="{% static 'Schedule/img/football.png' %}" />
					<button class="btn btn-secondary dropdown-toggle game" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> waterpolo </button>
		  			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Swimming</a>
						    <a class="dropdown-item" href="#">Hockey</a>
						    <a class="dropdown-item" href="#">BadMinton</a>
						    <a class="dropdown-item" href="#">Squash</a>
						    <a class="dropdown-item" href="#">Cricket</a>
						    <a class="dropdown-item" href="#">Lawn Tennis</a>
						    <a class="dropdown-item" href="#">Table Tennis</a>
		  			</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-6 col-xm-12">
				<table class="table table-hover table-responsive">
				  <thead>
				    <tr>
				      <th colspan="5" class="caption">LeaderBoard</th>
				    </tr>
				    <tr>
				      <th scope="col col-left">Rank</th>
				      <th scope="col">Colledge</th>
				      <th scope="col">Gold</th>
				      <th scope="col">Silver</th>
				      <th scope="col">Bronze</th>
				      <th scope="col">Total</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row ol-left">1</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				    <tr>
				      <th scope="row col-left">2</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				    <tr>
				      <th scope="row col-left">3</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				     <tr>
				      <th scope="row col-left">4</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				    <tr>
				      <th scope="row col-left">2</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				    <tr>
				      <th scope="row col-left">2</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				    <tr>
				      <th scope="row col-left">2</th>
				      <td><img src="images/logo.gif" class="logoimg image-responsive"> IIT Guwahati</td>
				      <td>1</td>
				      <td>1</td>
				      <td>1</td>
				      <td>3</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-lg-1 col-sm-12 col-md-1 col-xm-12"></div>
		</div>
	</div>
</div>

<div class="container">
    <div class="">
      <br>
      {% with matches.sport|sport_score as path %}
        <button onclick="window.location='{% url path %}'" type="button" class="btn btn-danger">Score Table</button>
      {% endwith %}
      {% if request.user.is_staff %}

          {% with matches.sport|sport_create as path %}
          <button onclick="window.location='{% url path %}'" type="button" class="btn btn-primary">Add Entry</button>
          {% endwith %}
      {% else %}

      {% endif %}
    </div>
    <hr/>

{% if matches.matches %}
  <!-- iit filter -->



  <div class="form-group col-md-4 pull-right">
    <select class="form-control" id="team-filter" class="col-md-2">
      <option data-id="unfiltered" selected>---Select Team---</option>
      <option data-id="iitm">IIT Madras</option>
      <option data-id="iitb">IIT Bombay</option>
      <option data-id="iitd">IIT Delhi</option>
      <option data-id="iitkgp">IIT Kharagpur</option>
      <option data-id="iitk">IIT Kanpur</option>
      <option data-id="iitr">IIT Roorkee</option>
      <option data-id="iitg">IIT Guwahati</option>
    </select>
  </div>
  <!-- end iit filter -->

  <!--   IIT FILTER AND EVENTS FILTER
<div class="container">
	<div class="row padding">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
			<div class="dropdown">
  				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> IIT </button>
	  			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="#">IIT Guwahati</a>
					    <a class="dropdown-item" href="#">IIT Bombay</a>
					    <a class="dropdown-item" href="#">IIT Delhi</a>
					    <a class="dropdown-item" href="#">IIT Kharagpur</a>
					    <a class="dropdown-item" href="#">IIT Madras</a>
					    <a class="dropdown-item" href="#">IIT Assam</a>
					    <a class="dropdown-item" href="#">IIT Goa</a>
	  			</div>
  				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Events </button>
	  			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="#">IIT Guwahati</a>
					    <a class="dropdown-item" href="#">IIT Bombay</a>
					    <a class="dropdown-item" href="#">IIT Delhi</a>
					    <a class="dropdown-item" href="#">IIT Kharagpur</a>
					    <a class="dropdown-item" href="#">IIT Madras</a>
					    <a class="dropdown-item" href="#">IIT Assam</a>
					    <a class="dropdown-item" href="#">IIT Goa</a>
	  			</div>
			</div>
		</div>
	</div>
</div>


-->
  <div class="container">
  	<div class="row">
      {% regroup matches.matches by date as match_list %}
      <ul class="nav nav-pills">
        {% for date in match_list %}
          {% with date.list|get_total_players as total_players %}
            {% if total_players > 0 %}
              <li class="nav-item">
                <a style="padding-top: 1.852vh;" data-toggle="pill" href="#{{ forloop.counter }}" class="nav-link date {{forloop.counter0|yesno:',active'}}">{{date.grouper|date:"d M"}}</a>
              </li>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </ul>
  </div>
  </div>

  <div class="tab-content">
    {% for date in match_list %}
      {% with date.list|get_total_players as total_players %}
        {% if total_players > 0 %}
          <div id="{{forloop.counter}}" class="tab-pane container {{forloop.counter0|yesno:' fade, active'}}">
            <div class="container">
              <div class="row">
                  <div class="container">

                    {% regroup date.list by time as group_list %}
                    {% for time in group_list%}
                    {% for match in time.list%}

                    <div class="row">
                      		<div class="col-lg-12 heading">{{match.category}}'s Team</div>
                  	</div>
                  	<br>

                    <div class="container iit {{ match.team1.college|team_slug }} {{ match.team2.college|team_slug }}">

                      <div class="row">
                    		<div class="col-lg-3 col-sm-12 col-xm-12">
                    			<span>{{match.level }}</span><br>
                    			{{ match.time }}<br>
                    			{{ match.place }}
                    		</div>

                        <div class="col-lg-3 col-sm-5 col-xm-5">
                    			<div class="circle"><img src="{{ match.team1.image.url }}"/></div>
                    			<div class="rectangle">{{match.team1}}</div>
                    		</div>

                        <div class="col-lg-1 col-sm-2 col-xm-2 vs">
                         <h4> <div class="text-center">Vs</div> </h4>
                            {% if match.score_team1 != -1 %}
                            <h2><div class="text-center">{{ match.score_team1 }}-{{ match.score_team2 }}</div></h2>
                            {% endif %}
                        </div>

                        <div class="col-lg-3 col-sm-5 col-xm-5 extraleft">
                        	<div class="circle"><img src="{{ match.team2.image.url }}"/></div>
                    			<div class="rectangle">{{match.team2}}</div>
                    		</div>


                      <div class="col-lg-1 col-sm-12 col-xm-12">
                        <button type="button" class="lineups" data-toggle="collapse" data-parent="#accordion{{match.id}}" href="#collapse{{match.id}}">
                          Results<span class="caret"></span>
                        </button>
                      </div>
                    </div>

                    <div class="panel-collapse collapse" id="collapse{{match.id}}">
                      <div class="row">
                      <div class="col-6">
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td>Name</td>
                            <td>Score</td>

                          </tr>
                        {% for playa in match.playerwaterpolo_set.all %}
                         {% if playa.player.team ==  match.team1 %}
                          <tr>
                            <td>
                              <a href="{% url 'player_profile' playa.player.id %}">{{playa.player.name}}</a>
                            </td>

                            {% if playa.score != -1 %}
                              <td>{{ playa.score }}</td>
                            {% else %}
                              <td> - </td>
                            {% endif %}
                            {% if request.user.is_superuser %}
                              <td><button onclick="window.location='{% url 'playerwaterpolo_update' playa.id %}'" type="button" class="btn btn-sm">Player Score Update</button></td>
                            {% else %}
                            {% endif %}
                          </tr>
                         {% endif %}
                        {% endfor %}
                        </table>
                      </div>

                      <div class="col-6">
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td>Name</td>
                            <td>Score</td>

                          </tr>
                        {% for playa in match.playerwaterpolo_set.all %}
                         {% if playa.player.team ==  match.team2 %}
                          <tr>
                            <td>
                              <a href="{% url 'player_profile' playa.player.id %}">{{playa.player.name}}</a>
                            </td>

                            {% if playa.score != -1 %}
                              <td>{{ playa.score }}</td>
                            {% else %}
                              <td> - </td>
                            {% endif %}
                            {% if request.user.is_superuser %}
                              <td><button onclick="window.location='{% url 'playerwaterpolo_update' playa.id %}'" type="button" class="btn btn-sm">Player Score Update</button></td>
                            {% else %}
                            {% endif %}
                          </tr>
                         {% endif %}
                        {% endfor %}
                        </table>
                      </div>
                    </div>
                    </div>

                    {% if request.user.is_superuser %}
                      <div class="row">
                       <button onclick="window.location='{% url 'waterpolo_update' match.id %}'" type="button" class="btn btn-success">Update</button>
                       <button onclick="window.location='{% url 'waterpolo_delete' match.id %}'" type="button" class="btn btn-danger">Delete</button>
                     </div>
                    {% else %}
                    {% endif %}
                    <hr>
                  </div>
                    {% endfor %}
                    {% endfor %}


              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}
    {% endfor %}
</div>

</div>
{% else %}
<p>No matches are available.</p>
{% endif %}
{% endblock %}
