{% load static %}

<div class="container myFooter" style="max-width:75% !important;">
<div class="row">
  <div class="col-12 col-md-4 boxes">
    <div class="social facebook">
      <a href="https://www.facebook.com/interiit18" class="box-holder" target="_blank">
        <div class="icon"><img src="{% static 'Schedule/img/index/facebook.png' %}"></div>
        <div class="txt1">FOLLOW <br>Our Facebook Page</div>
        <div class="txt2">FACEBOOK</div>
      </a>
    </div>
  </div>

  <div class="col-12 col-md-4 boxes">
     <div class="social instagram">
      <a href="#" class="box-holder">
        <div class="icon"><img src="{% static 'Schedule/img/index/instagram.png' %}"></div>
        <div class="txt1">SEE <br>Glimpses on Instagram</div>
        <div class="txt2">INSTAGRAM</div>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-4 boxes">
     <div class="social youtube">
      <a href="https://goo.gl/th6cyo" class="box-holder" target="_blank">
        <div class="icon"><img src="{% static 'Schedule/img/index/youtube.png' %}"></div>
        <div class="txt1">VIEW <br>Matches Live on Youtube</div>
        <div class="txt2">YOUTUBE</div>
      </a>
    </div>
  </div>

</div>
<br><br>
<footer class="jumbotron" style='background-color:#1F9BCF;'>
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; InterIIT 2018</p>
  </div>
  <!-- /.container -->
</footer>
