{% extends 'Schedule/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Schedule/css/style3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Schedule/css/stylesfootball.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Schedule/css/profile.css' %}">
<style>
  .navbar{
    padding-top:15px!important;
    padding-bottom: 15px !important;
    font-family: 'Lato','sans-serif' !important;
  }
</style>

{% endblock %}

{% block content %}

<!-- players info end -->
<div class="container box-75">
 <div class="heading" style="background-color:transparent; color:#707070; margin-bottom:0px;">
   <h2 style="margin-bottom:0px;">Player Information</h2>
   <img src="{% static 'Schedule/img/index/line.png' %}" id="u2" style="margin-bottom:20px;">
 </div>
 <br>
</div>

<div class="container">
  <br>
  <div class="details">
    <div class="col-lg-1 hi"></div>
    <div class="col-lg-3 col-md-5">
      <div class="profile-div">
        <img src ="https://interiit.com/media/{{player.photo}}" class=" profile-img"  />
        <div><img  class="game" src="{% static 'Schedule/img/pictograms' %}/{{player.event.all.0.sport}}.png" /></div>

      </div>
    </div>
    <div class="col-lg-8 col-md-7 info">
      <div class="test">
       <div class="matches"><h1>{{player.name|title}}</h1></div>
     </div>
     <div style="font-size: 18px;">
      <div class="matches">
       <img src="{% static 'Schedule/img/IITs and LOGO/' %}{{player.team}}.png" class="logoimg image-responsive" style="height:45px; vertical-align: bottom!important;"> <span style="font-size:32px; font-weight:normal;">&nbsp;&nbsp;{{player.team}}</span>
     </div>
     <br>
     <span class="detail-left">Category</span> :- {{player.category|title}}<br>
     <span class="detail-left">Blood Group</span> :- {{player.blood_group}}<br>
     <span class="detail-left">Events</span>
     <ul>
      {% for event in player.event.all %}
      <li>
        {{event|title}}
      </li>
      {% endfor %}
    </ul>

    {%for x in answers%}
    {%if x.answer == ""%}
    {%else%}
    <span class="detail-left">{{x.trivia}}</span> :- {{x.answer|lower|capfirst}}
    <br>
    {%endif%}
    {%endfor%}
    <br>
  </div>
</div>
</div>
</div>

<div class="container">
  <div class="col-md-3">
    {% if request.user.is_authenticated %}

    <td><button onclick="window.location='{% url 'playerupdate' player.id %}'" type="button" class="btn btn-sm ">Update</button></td>
    <td><button onclick="window.location='{% url 'playerdelete' player.id %}'" type="button" class="btn btn-sm btn-danger">Delete</button></td>
    <td><button onclick="window.location='{% url 'player_approve_toggle' player.id %}'" type="button" class="btn btn-sm btn-success">Toggle</button></td>
    {% else %}
    {% endif %}
  </div>
</div>

<!-- players info end -->
<div class="container box-75">
  <div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-lg-4 col-xs-12" style="text-align: center;">
      <h3> <span style="font-size:45px; color:gold;">{{gold}}</span> Gold Medal(s)</h3>
    </div>
    <div class="col-lg-4 col-xs-12" style="text-align: center;">
      <h3> <span style="font-size:45px; color:#afafaf;">{{silver}}</span> Silver Medal(s)</h3>
    </div>
    <div class="col-lg-4 col-xs-12" style="text-align: center;">
      <h3> <span style="font-size:45px; color:#cd7f32;">{{bronze}}</span> Bronze Medal(s)</h3>
    </div>
  </div>
</div>

<div class="container box-75">
 <div class="heading" style="background-color:transparent; color:#707070; margin-bottom:0px;">
   <h2 style="margin-bottom:0px;">Player Schedule</h2>
   <img src="{% static 'Schedule/img/index/line.png' %}" id="u2" style="margin-bottom:20px;">
 </div>
 <br>
</div>



{% if player.swimming_set.count != 0 %}
<div class="container container-player box-75">
  {% for match in player.swimming_set.all %}
  {% with 'swimming' as sport %}
  {% with sport|sport_match as path %}
  {% include path %}
  {% endwith %}
  {% endwith %}
  <br>
  {% endfor %}
</div>
{%endif%}

{% if player.athletics_set.count != 0 %}
<div class="container container-player box-75">
  {% for match in player.athletics_set.all %}
  {% with 'athletics' as sport %}
  {% with sport|sport_match as path %}
  {% include path %}
  {% endwith %}
  {% endwith %}
  <br>
  {% endfor %}
</div>
{%endif%}

{% if player.weightlifting_set.count != 0 %}
<div class="container container-player box-75">
  {% for match in player.weightlifting_set.all %}
  {% with 'weightlifting' as sport %}
  {% with sport|sport_match as path %}
  {% include path %}
  {% endwith %}
  {% endwith %}
  <br>
  {% endfor %}
</div>
{%endif%}


{%for sp in  matches.matches%}
<div class="container container-player box-75">
  {% for match in sp %}
  {% with match_type as sport %}
  {% with sport|sport_match as path %}
  {% include path %}
  {% endwith %}
  {% endwith %}
  {% endfor %}
</div>
{%endfor%}
<br>

<!-- players info end -->
<div class="container box-75">
 <div class="heading" style="background-color:transparent; color:#707070; margin-bottom:0px;">
   <h2>Galleries</h2>
   <img src="{% static 'Schedule/img/index/line.png' %}" id="u2" style="margin-bottom:20px; margin-top:-25px;">
 </div>
 <br>
</div>

<div class="container container-player box-75">
  {% if images.count != 0 %}
  <div class="row" style="height:min-content; overflow: hidden;">
    {%for photo in images%}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="{{photo.urls}}" class="gallery gallery-image">
    </div>
    {%endfor%}
  </div>
  {%else%}
  No Photos till now.
  {%endif%}
</div>


<br>
<br>
<br>
{% include "Schedule/generic/sports/helper/livescore1.html" %}

{% endblock %}
