{% extends 'Schedule/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container">
   <div class="heading">
   <h2>Sports</h2>
   <img src="img/line.png" id="u1">
</div>
<div class="row sportsRow">
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="img/athletics.png">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>

</div>
<div class="row sportsRow">
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="img/athletics.png">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>

</div>
<div class="row sportsRow" >
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="img/athletics.png">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
   <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Athletics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>
    <div class="col-4 col-md-2">
   <div class="sportsBox">
      <a href=""><img src="{% static 'Schedule/img/sports/weightlifting.png' %}">
   </a>
    </div>
    <br>
   <span class="sportsText">Aquatics</span>
   </div>

</div>

{% endblock %}
